---
layout: homepage
title: SocialGeeks Inc.
---

<div id="main-wrapper">
	<div class="main-wrapper-style3">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="6u">

						<section class="box-article-list">
							<h2>Events</h2>
							{% for post in site.posts %}
								{% assign tags_list = post.tags %}
								{% for tag in tags_list %}
									{% if tag contains "featured" %}
                                                                		{% if post.category contains "event" %}
									<article class="box-excerpt">
											{% if post.thumbnail %}
											{% endif %}
										<div>
											<header>
												<span class="date">{{ post.date | date_to_long_string }}</span>
												<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
											</header>
											<p>{{ post.description }}</p>
										</div>
									</article>
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endfor %}						
						</section>
					</div>
					<div class="6u">
					
						<section class="box-article-list">
                                                        <h2>Recent Posts</h2>

                                                        {% for post in site.posts %}
								{% assign tags_list = post.tags %}
								{% for tag in tags_list %}
									{% if tag contains "featured" %}
                                                                		{% if post.category contains "post" %}

                                                                        <article class="box-excerpt">
                                                                                {% if post.thumbnail %}
                                                                                        <a href="{{ post.url }}" class="image image-left"><img src="public/images/thumbnails/{{ post.thumbnail }}" alt="" /></a>
                                                                                {% endif %}
                                                                                <div>
                                                                                        <header>
                                                                                                <span class="date">{{ post.date | date_to_long_string }}</span>
                                                                                                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                                                                        </header>
                                                                                        <p>{{ post.description }}</p>
                                                                                </div>
                                                                        </article>
										{% endif %}
	                                                                {% endif %}
								{% endfor %}
                                                        {% endfor %}
                                                </section>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

