<div id="header-wrapper">
	<header id="header">
		<div class="container">

			<a href="index.html" id="logo"></a>
			
			<nav id="nav">
				<ul>
					<li class="current_page_item"><a href="index.html">Home</a></li>
					<!-- 	
					<li>
						<span>Dropdown</span>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li>
								<span>Phasellus consequat</span>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Phasellus consequat</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
								</ul>
							</li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li> 
					-->
					<li><a href="about.html">About</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="sponsors.html">Sponsors</a></li>
				</ul>
			</nav>

		</div>
		
	</header>

	<div class="container">
		<div class="row">
			<div class="12u">
			
				<div id="banner">
					<h2>
						<strong>connect</strong>, <strong>explore</strong> and <strong>learn</strong> with others<br/>
						who passionately pursue their interests.<br/>
						<div style="margin-top: 16px;">
							We call them <strong>geeks</strong>. Embrace it.
						</div>
					</h2>

					<p><strong>Get Involved: </strong> &nbsp;Help us by becoming<br>a sponsor, mentor or geek contributor.</p>
					<a href="/about.html" class="button button-big button-icon button-icon-rarrow">Get Involved</a>
				</div>

			</div>
		</div>
	</div>
</div>

{{content}}
