<div id="header-wrapper" style="height: 8em;">
	<header id="header">
		<div class="container">

			<a href="/index.html" id="logo"></a>
			
			<nav id="nav">
				<ul>
					<li><a href="/index.html">Home</a></li>
					<!-- 	
					<li>
						<span>Dropdown</span>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li>
								<span>Phasellus consequat</span>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Phasellus consequat</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
								</ul>
							</li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li> 
					-->
					<li><a href="#">About</a></li>
					<li{% if page.category contains 'event' %} class="current_page_item"{% endif %}><a href="#">Events</a></li>
					<li{% if page.category contains 'post' %} class="current_page_item"{% endif %}><a href="#">Blog</a></li>
					<li><a href="#">Sponsors</a></li>
				</ul>
			</nav>

		</div>
		
	</header>
</div>
	
<div id="main-wrapper">
	<div class="main-wrapper-style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="3u">
						<div id="sidebar">

							{% include themes/socialgeeks/navigation.html %} 

						</div>
					</div>
					<div class="9u skel-cell-mainContent">
						<div id="content">
							<article>

								<h2>{{ page.title }}</h2>
								{% if page.tagline %}<span class="byline">{{ page.tagline }}</span>{% endif %}
							
								{% if page.thumbnail %}<span class="image image-right"><img src="/public/images/thumbnails/{{ page.thumbnail }}" /></span>{% endif %}
								{{ content }}

							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
